YDB_ENDPOINT=grpcs://ydb.serverless.yandexcloud.net:2135
YDB_DATABASE=/ru-central1/b1g1n56ksb6gcbqvvffi/etnfr1aogt5chdg2r9su
VK_APP_ID=
VK_APP_SECRET=
VK_SERVICE_TOKEN=
VK_API_VERSION=5.199
VK_CALLBACK_SECRET=
JOR_VK_APP_ID=
JOR_VK_APP_SECRET=
JOR_VK_SERVICE_TOKEN=
OK_VK_APP_ID=
OK_VK_APP_SECRET=
OK_APP_ID=
OK_APP_KEY=
OK_APP_SECRET=
JOR_OK_VK_APP_ID=
JOR_OK_APP_ID=
JOR_OK_APP_SECRET=
ALLOWED_ORIGINS=https://example.com
NODE_ENV=production
