openapi: 3.0.0
info:
  title: Archi Games API
  version: 1.5.0
servers:
  - url: https://d5dl7q0eh16ojp505u1v.6brbn2wz.apigw.yandexcloud.net
x-yc-apigateway:
  cors:
    origin: "https://archixiii.github.io"
    methods:
      - GET
      - POST
      - OPTIONS
    allowedHeaders:
      - Content-Type
      - X-VK-Launch-Params
      - X-Client-Version
    maxAge: 3600
components:
  parameters:
    VkLaunchParams:
      name: X-VK-Launch-Params
      in: header
      required: true
      schema:
        type: string
        maxLength: 8192
  schemas:
    LeaderboardSync:
      type: object
      additionalProperties: false
      required: [totalStars]
      properties:
        totalStars:
          type: integer
          minimum: 0
        totalXp:
          deprecated: true
          description: Accepted temporarily and ignored
        playerName:
          type: string
          maxLength: 512
    LeaderboardEntry:
      type: object
      required: [rank, userId, playerName, avatarUrl, score, totalStars, isCurrentUser]
      properties:
        rank:
          type: integer
          minimum: 1
        userId:
          type: string
        playerName:
          type: string
        avatarUrl:
          type: string
        score:
          type: integer
          minimum: 0
        totalStars:
          type: integer
          minimum: 0
        isCurrentUser:
          type: boolean
    PurchaseEvent:
      type: object
      required: [eventId, orderId, type, coinsDelta]
      properties:
        eventId:
          type: string
        orderId:
          type: string
        type:
          type: string
          enum: [grant, refund]
        coinsDelta:
          type: integer
    AckRequest:
      type: object
      additionalProperties: false
      required: [eventId]
      properties:
        eventId:
          type: string
    EndlessScoreRequest:
      type: object
      additionalProperties: false
      required: [score]
      properties:
        score:
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
    OkEndlessScoreRequest:
      type: object
      additionalProperties: false
      required: [score]
      properties:
        score:
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
        playerName:
          type: string
          maxLength: 512
    EndlessLeaderboardEntry:
      type: object
      required: [rank, userId, playerName, score, bestScore, updatedAt, isCurrentUser]
      properties:
        rank:
          type: integer
          minimum: 1
        userId:
          type: string
        playerName:
          type: string
        score:
          type: integer
          format: int64
          minimum: 0
        bestScore:
          type: integer
          format: int64
          minimum: 0
        updatedAt:
          type: string
          format: date-time
        isCurrentUser:
          type: boolean
    EndlessLeaderboardResponse:
      type: object
      required: [entries, currentUser, limit, offset]
      properties:
        entries:
          type: array
          items:
            $ref: "#/components/schemas/EndlessLeaderboardEntry"
        currentUser:
          type: object
          nullable: true
          allOf:
            - $ref: "#/components/schemas/EndlessLeaderboardEntry"
        limit:
          type: integer
        offset:
          type: integer
    LeaderboardResponse:
      type: object
      required: [entries, currentUser, limit, offset]
      properties:
        entries:
          type: array
          items:
            $ref: "#/components/schemas/LeaderboardEntry"
        currentUser:
          type: object
          nullable: true
          allOf:
            - $ref: "#/components/schemas/LeaderboardEntry"
        limit:
          type: integer
        offset:
          type: integer
    PendingEventsResponse:
      type: object
      required: [events]
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/PurchaseEvent"
  responses:
    Unauthorized:
      description: Invalid, missing or ambiguous platform launch parameters
paths:
  /health:
    get:
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: d4eb6i2ivnhumclg3ti9
      responses:
        "200":
          description: Healthy
  /v1/leaderboards/sync:
    post:
      parameters:
        - $ref: "#/components/parameters/VkLaunchParams"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LeaderboardSync"
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: d4eb6i2ivnhumclg3ti9
      responses:
        "200":
          description: Monotonic totals synchronized
          content:
            application/json:
              schema:
                type: object
                required: [ok, totalStars]
                properties:
                  ok:
                    type: boolean
                  totalStars:
                    type: integer
                    minimum: 0
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/leaderboards/stars:
    get:
      parameters:
        - $ref: "#/components/parameters/VkLaunchParams"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 1000000
            default: 0
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: d4eb6i2ivnhumclg3ti9
      responses:
        "200":
          description: Stars leaderboard and current user rank
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/purchase-events/pending:
    get:
      parameters:
        - $ref: "#/components/parameters/VkLaunchParams"
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: d4eb6i2ivnhumclg3ti9
      responses:
        "200":
          description: Undelivered purchase events for the current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PendingEventsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/purchase-events/ack:
    post:
      parameters:
        - $ref: "#/components/parameters/VkLaunchParams"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AckRequest"
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: d4eb6i2ivnhumclg3ti9
      responses:
        "200":
          description: Event acknowledged or already acknowledged
          content:
            application/json:
              schema:
                type: object
                required: [ok, eventId]
                properties:
                  ok:
                    type: boolean
                  eventId:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/vk/endless-score:
    post:
      parameters:
        - $ref: "#/components/parameters/VkLaunchParams"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EndlessScoreRequest"
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: d4eb6i2ivnhumclg3ti9
      responses:
        "200":
          description: Endless score submitted to VK
          content:
            application/json:
              schema:
                type: object
                required: [ok, score]
                properties:
                  ok:
                    type: boolean
                  score:
                    type: integer
                    format: int64
                    minimum: 0
        "400":
          description: Invalid score
        "401":
          $ref: "#/components/responses/Unauthorized"
        "502":
          description: VK API request failed
        "503":
          description: VK API is not configured
  /v1/vk/payments/callback:
    post:
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: d4eb6i2ivnhumclg3ti9
      responses:
        "501":
          description: Adapter is disabled until the exact VK callback contract is configured
  /v1/ok/endless-score:
    post:
      parameters:
        - $ref: "#/components/parameters/VkLaunchParams"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OkEndlessScoreRequest"
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: d4eb6i2ivnhumclg3ti9
      responses:
        "200":
          description: OK endless best score synchronized
          content:
            application/json:
              schema:
                type: object
                required: [ok, bestScore]
                properties:
                  ok:
                    type: boolean
                  bestScore:
                    type: integer
                    format: int64
                    minimum: 0
        "400":
          description: Invalid score or player name
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/ok/leaderboards/endless:
    get:
      parameters:
        - $ref: "#/components/parameters/VkLaunchParams"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 1000000
            default: 0
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: d4eb6i2ivnhumclg3ti9
      responses:
        "200":
          description: OK endless leaderboard and current user rank
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EndlessLeaderboardResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/ok/payments/callback:
    get:
      parameters:
        - name: sig
          in: query
          required: true
          schema:
            type: string
            pattern: "^[a-fA-F0-9]{32}$"
        - name: uid
          in: query
          required: true
          schema:
            type: string
        - name: transaction_id
          in: query
          required: true
          schema:
            type: string
        - name: transaction_time
          in: query
          required: true
          schema:
            type: string
        - name: product_code
          in: query
          required: true
          schema:
            type: string
        - name: amount
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
        - name: method
          in: query
          required: true
          schema:
            type: string
            enum: [callbacks.payment]
        - name: application_key
          in: query
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: d4eb6i2ivnhumclg3ti9
      responses:
        "200":
          description: Official OK payment validation response
          headers:
            Invocation-error:
              schema:
                type: string
          content:
            application/json:
              schema:
                oneOf:
                  - type: boolean
                  - type: object
                    required: [error_code, error_msg, error_data]
                    properties:
                      error_code:
                        type: integer
                      error_msg:
                        type: string
                      error_data:
                        type: object
                        nullable: true
